<div style="text-align: center; width: 100%;">
    <p i18n>Le Québec est une province du Canada dont les frontières correspondent au territoire de la nation québécoise. Vivent également au sein du territoire québécois onze nations autochtones. La capitale du Québec est la Ville de Québec et sa métropole est Montréal. La langue officielle de la province est le français. Ce site les regoupes ainsi que quelques données sur ceux-ci</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Flag_of_Quebec.svg/1200px-Flag_of_Quebec.svg.png" class="image">
</div>